

	#gamingkeyboard {width: 700px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: center; 
	border-radius: 35%;
 	margin-bottom: auto;
	
	}
	
	#container {width: 1400px;
	margin-left: auto; 
	margin-right: auto; 
	background-color: #b3dec1;
	margin-top: auto; 
	margin-bottom: auto; 
	} 
	
	body {background-color: #e5fcf5;
	font-family: 'Silkscreen', cursive; 
		font-size: 30px;
	} 
	
	.title {font-family: Lucida Console;
	text-align:center;
	
}
	#box-p2 {width: 1200px;
	position:float; 
	font-family:Comic Sans MS;
	font-size: 40px;
  border: 5px solid black;
  padding: 50px;
	margin:auto;
	margin-top: 10px; } 
	
	#mainmenu{
  list-style: none; 
  margin: 0;
  padding: 0;
  display: box; 
  background-color:#750d37; 
 font-family: 'Bebas Neue', cursive;
  
}
	li {display:inline;
	border-right: 1px 36px solid #bbb;
	
	 
	}
	li a{
  display: line;
  color: white;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
  font-size:  36px;
  
  
	}
li a:hover {background-color:#750d37 ;
margin: 25px 25px; 
 }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
} 
h4 {font-weight: normal;}  
  

	h2{ text-align: center;
		font-size: 45px;
		font-family: 'Silkscreen', sans-serif;
		text-decoration: none;
		color: black; 
		
	} 
	h2 a{  text-decoration: none;
			color: black; 						} 
	#title_metroid {font-family: 'Lobster', cursive;
			font-size: 44px;
			background-color:#6A7FDB;
			text-align: center;
			
	
	}
	#titlemain {
		font-family: 'Lobster', cursive;
			font-size: 44px;
			text-align: center; 
	}
	
	#title_action {font-family: 'Lobster', cursive;
			font-size: 44px;
			text-align: center; 
			background-color: #F93943;
	}
	#title_rpg {font-family: 'Lobster', cursive;
			font-size: 44px;
			text-align: center; 
			background-color: #F3B61F; 
	}
	
	.aboutgame {
		text-align: center; 
		font-family: 'Bebas Neue', cursive;
		font-size: 20px;
		vertical-align: text-top;
		margin:0px; 
	}
	
	.top_page_box {
		outline: 5px solid black; 
		font-family: 'Silkscreen', cursive;
		 text-decoration: none;
	
	}
	
	h1 { 
	margin-bottom: 0px;
	}
	
	
	
	.podium {
  display: flex;
  align-items: flex-end;
 vertical-align: center; 
 outline: 5px solid #750d37;
 
}

.podium__width {
  width: 250px;
}

.podium__rank {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #fff;
}

.podium__name {
  text-align: center;
  padding: 0 .5rem;
}

.podium__number {
  width: 27px;
  height: 75px;
}

.podium .one {
  min-height: 300px;
  background: #ffd700;
  }

.podium .two {
  min-height: 200px;
  background: #BCC6CC;
}

.podium .three {
  min-height: 100px;
  background: #A5570A;
}

	.review_text {
		font-family: 'Chakra Petch', sans-serif; 
		font-size: 24px;
		text-align:center;
		
	}
	
	.pic1{
		display: block; 
		margin-left: auto; 
		margin-right: auto;
		border-radius: 35%;
	}
	#bayo { 
display: block; 
		margin-left: auto; 
		margin-right: auto;
		border-radius: 35%;
		
	main { 
	font-family: 'Silkscreen', sans-serif;
		font-family: 'Silkscreen Expanded', sans-serif;
		font-size: 30px;
		font-family: 'Silkscreen', cursive; 
		
	}
	
	@import url(//'https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
	@import url(//'http://fonts.cdnfonts.com/css/bachroque');
	@import url(//'http://fonts.cdnfonts.com/css/fell-double-pica');
	@import url(//'http://fonts.cdnfonts.com/css/moontank');
	
	
	
	.bot_page_box {
		outline: 5px solid black; 
		font-family: sans-serif;
	text-decoration: none;
	text-align: center; 
	
	}
	
	footer {outline: 5px solid black; 
		font-family: 'Silkscreen', cursive;
	text-decoration: none;} 
